@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500;1,600;1,700;1,800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 11111;
  color: rgba(0, 0, 0, 0.5647058824);
  font-size: 1rem;
  flex-direction: column;
}
.loading .rectangle {
  height: 5rem;
  width: 30rem;
  border: 3px solid #395ed6;
  border-radius: 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.loading .rectangle .circle {
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #FF4545;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loading 5s alternate;
          animation: loading 5s alternate;
}

@-webkit-keyframes loading {
  75% {
    background-color: #395ed6;
  }
  100% {
    transform: rotateX(0deg) translateX(600%);
    background-color: #395ed6;
  }
}

@keyframes loading {
  75% {
    background-color: #395ed6;
  }
  100% {
    transform: rotateX(0deg) translateX(600%);
    background-color: #395ed6;
  }
}
.fa-heart:before {
  font-size: 2rem;
}

.fa-trophy::before {
  font-size: 2rem;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 4rem 2rem;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
}

.logo {
  color: #8D8D8D !important;
  font-weight: bold !important;
}

.nav-btns {
  margin: 0.5rem;
}

.hero {
  height: 100vh;
  width: 100%;
}
.hero .content-div {
  display: flex;
  align-items: center;
}
.hero .content-div .content h1 {
  font-size: 4rem;
  font-weight: bold;
}
.hero .content-div .content .para {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5647058824);
}
.hero .content-div .content ul {
  font-weight: 500;
  color: #000000;
}

.back {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.social-links {
  margin-top: 2rem;
}
.social-links i {
  font-size: 2rem;
  margin: 0.5rem;
  color: #fff;
  background-color: #FF4545;
  transition: all 500ms ease;
  padding: 0.5rem;
  border-radius: 5px;
}
.social-links i:hover {
  color: rgb(255, 255, 255);
  background-color: #395ed6;
  transform: scale(1.1) rotate(360deg);
}

.hero-bg {
  height: 100vh;
  background: url("../imgs/hero-bg.png") no-repeat center center;
  background-size: contain;
}

.nav-btns button {
  margin: 0.5rem 0 !important;
}

.work {
  height: auto;
  background: #395ed6;
}
.work .work-head {
  color: #fff;
  margin-bottom: 3rem;
}
.work .list-group-item {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  margin: 0.5rem 0;
}

.down-arrow i {
  margin-left: 2rem !important;
  transition: transform ease-in 200ms;
}

.work-info {
  margin-top: 0.5rem;
  transition: transform ease-in-out;
}

.education .edu-head {
  margin-bottom: 3rem;
}
.education .edu-info {
  padding: 2rem;
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.03);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.awards {
  background-color: #fff;
  color: #000 !important;
}
.awards a {
  text-decoration: none;
}

.white-head {
  margin-bottom: 2rem;
  color: #fff;
}

.contact {
  background-color: #FF4545;
}
.contact .glass-effect {
  padding: 2rem;
  background: #000;
  border-radius: 1rem;
}
.contact .form-label {
  font-weight: bold;
  color: #fff;
}
.contact .btn-black {
  width: 100%;
  background-color: #395ed6;
  color: #fff;
}

.gallery {
  color: #fff;
  background-color: #FF4545;
}
.gallery .img-div {
  width: 20rem;
  margin: 0.8rem;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: center;
}
.buttons .year-filters button {
  margin: 1rem;
}

.years:active, .years:focus {
  background-color: #fff !important;
  color: #000;
}

.d-none {
  display: none;
}

.testimonials {
  background-color: #395ED6;
}
.testimonials .col {
  margin: 1rem 0.5rem;
}
.testimonials .card-img-top {
  border-radius: 50%;
  max-width: 10rem;
  height: auto;
}

.desig {
  margin-top: -0.5rem;
}

.card-cover {
  border: 3px solid #000;
}

.lean-six {
  background: linear-gradient(180deg, rgba(111, 111, 111, 0.4196078431), #000), url(https://i.ibb.co/gV2rWrz/What-is-Six-Sigma-A-Complete-Overview.jpg) no-repeat center center;
  background-size: cover;
  transition: all ease-out 200ms;
}
.lean-six:hover {
  transform: scale(1.02);
}

.negotiate {
  background: linear-gradient(180deg, rgba(111, 111, 111, 0.4196078431), #000), url(https://i.ibb.co/ScWYBJm/Negotiate-Handshake-Credit-Pattanaphong-Khuankaew-i-Stock-886031704.jpg) no-repeat center center;
  background-size: cover;
  transition: all ease-out 200ms;
}
.negotiate:hover {
  transform: scale(1.02);
}

.business-english {
  background: linear-gradient(180deg, rgba(111, 111, 111, 0.4196078431), #000), url(https://i.ibb.co/SKHn88Q/business-english-1.jpg) no-repeat center center;
  background-size: cover;
  transition: all ease-out 200ms;
}
.business-english:hover {
  transform: scale(1.02);
}

.digital-branding {
  background: linear-gradient(180deg, rgba(111, 111, 111, 0.4196078431), #000), url(https://i.ibb.co/7b1FTjK/digital-branding-harmony.jpg) no-repeat center center;
  background-size: cover;
  transition: all ease-out 200ms;
}
.digital-branding:hover {
  transform: scale(1.02);
}

@media only screen and (max-width: 700px) {
  section {
    padding: 1rem;
  }

  .hero {
    height: 100%;
  }
  .hero .container {
    margin-top: 1rem;
  }
  .hero .container .content-div {
    text-align: center;
    font-size: 2.5rem !important;
    justify-content: center;
  }
  .hero .container .content-div .content {
    padding: 0.5rem 1rem;
  }
  .hero .container .content-div .content h1 {
    font-size: 3rem;
  }
  .hero .container .content-div .content .para, .hero .container .content-div .content ul {
    font-size: 1rem;
    text-align: left !important;
  }

  .hero {
    height: 100%;
  }

  .contact .col, .hero .col {
    flex: auto;
  }
}
@media (min-width: 1200px) {
  .display-6 {
    font-size: 2rem !important;
  }
}/*# sourceMappingURL=style.css.map */