@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500;1,600;1,700;1,800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11111;
  color: #00000090;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loading .rectangle {
  height: 5rem;
  width: 30rem;
  border: 3px solid #395ed6;
  border-radius: 3rem;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.loading .rectangle .circle {
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #FF4545;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loading 5s alternate;
          animation: loading 5s alternate;
}

@-webkit-keyframes loading {
  75% {
    background-color: #395ed6;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(600%);
            transform: rotateX(0deg) translateX(600%);
    background-color: #395ed6;
  }
}

@keyframes loading {
  75% {
    background-color: #395ed6;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(600%);
            transform: rotateX(0deg) translateX(600%);
    background-color: #395ed6;
  }
}

.fa-heart:before {
  font-size: 2rem;
}

.fa-trophy::before {
  font-size: 2rem;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 4rem 2rem;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem 0;
}

.logo {
  color: #8D8D8D !important;
  font-weight: bold !important;
}

.hero {
  height: 100vh;
  width: 100%;
}

.hero .content-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .content-div .content h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero .content-div .content .para {
  font-weight: 500;
  color: #00000090;
}

.hero .content-div .content ul {
  font-weight: 500;
  color: #000000;
}

.back {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-links {
  margin-top: 2rem;
}

.social-links a {
  border-radius: 3px;
  background-color: #FF4545;
  color: #fff;
  padding: 1rem;
}

.hero-bg {
  height: 100vh;
  background: url("../imgs/hero-bg.png") no-repeat center center;
  background-size: contain;
  margin: 0 1rem;
}

.nav-btns button {
  margin: 0.5rem 0 !important;
}

.work {
  height: auto;
  background: #395ed6;
}

.work .work-head {
  color: #fff;
  margin-bottom: 3rem;
}

.work .list-group-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  margin: 0.5rem 0;
}

.down-arrow i {
  margin-left: 2rem !important;
  -webkit-transition: -webkit-transform ease-in 200ms;
  transition: -webkit-transform ease-in 200ms;
  transition: transform ease-in 200ms;
  transition: transform ease-in 200ms, -webkit-transform ease-in 200ms;
}

.work-info {
  margin-top: 0.5rem;
  -webkit-transition: -webkit-transform ease-in-out;
  transition: -webkit-transform ease-in-out;
  transition: transform ease-in-out;
  transition: transform ease-in-out, -webkit-transform ease-in-out;
}

.education .edu-head {
  margin-bottom: 3rem;
}

.education .edu-info {
  padding: 2rem;
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.awards {
  background-color: #fff;
  color: #000 !important;
}

.white-head {
  margin-bottom: 2rem;
  color: #fff;
}

.contact {
  background-color: #FF4545;
}

.contact .glass-effect {
  padding: 2rem;
  background: #000;
  border-radius: 1rem;
}

.contact .form-label {
  font-weight: bold;
  color: #fff;
}

.contact .btn-black {
  width: 100%;
  background-color: #395ed6;
  color: #fff;
}

.gallery {
  color: #fff;
  background-color: #FF4545;
}

.gallery .img-div {
  width: 20rem;
  margin: .8rem;
  height: auto;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons .year-filters button {
  margin: 0 1rem;
}

.years:active, .years:focus {
  background-color: #fff !important;
  color: #000;
}

.d-none {
  display: none;
}

.testimonials {
  background-color: #395ED6;
}

.testimonials .col {
  margin: 1rem .5rem;
}

.testimonials .card-img-top {
  border-radius: 50%;
  max-width: 10rem;
  height: auto;
}

.desig {
  margin-top: -.5rem;
}

@media only screen and (max-width: 700px) {
  section {
    padding: 1rem;
  }
  .hero {
    height: 100%;
  }
  .hero .container {
    margin-top: 1rem;
  }
  .hero .container .content-div {
    text-align: center;
    font-size: 2.5rem !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .container .content-div .content {
    padding: .5rem 1rem;
  }
  .hero .container .content-div .content h1 {
    font-size: 3rem;
  }
  .hero .container .content-div .content .para, .hero .container .content-div .content ul {
    font-size: 1rem;
    text-align: left !important;
  }
  .hero {
    height: 100%;
  }
  .contact .col, .hero .col {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

@media (min-width: 1200px) {
  .display-6 {
    font-size: 2rem !important;
  }
}
/*# sourceMappingURL=style.css.map */